@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Poligon<br />
    Central street, 12 23<br />
    <abbr title="Phone">P: +380631551230</abbr>
</address>

<address>
    <strong>Support:</strong>   <a href="borisartur1114@gmail.com">borisartur1114@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="archibalt@gmail.com">archibalt@gmail.com</a>
</address>

<div class="row">
    <div class="col-md-4 myform">
        <img src="~/Content/image/Aircraft7.jpg" />
    </div>
    <div class="col-md-4 myform">
        <img src="~/Content/image/Aircraft6.jpg" />
    </div>
    <div class="col-md-4 myform">
        <img src="~/Content/image/Aircraft8.jpg" />
    </div>
</div>