@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Airport</h1>
    <p class="lead">Web application Airport using C#, ASP.NET MVC5, HTML, CSS, MSSQL, and JavaScript.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <img src="~/Content/image/Aircraft1.jpg" />
    </div>
    <div class="col-md-4">
        <img src="~/Content/image/Aircraft3.jpg" />
    </div>
    <div class="col-md-4">
        <img src="~/Content/image/Aircraft2.jpg" />
    </div>
</div>